# Python packages required for the CitropaScan Flask Application

# Web Server & Framework
Flask==3.0.3
gunicorn==22.0.0

# Image Processing & Machine Learning
opencv-python==4.10.0.84 
tensorflow==2.16.1
numpy==1.26.4

# Firebase/Google Cloud
firebase-admin==6.5.0
requests==2.32.3
werkzeug==3.0.3

# Utilities
Flask-Mail==0.9.1

python-dotenv==1.0.1