# Python packages required for the CitroPaScan Flask Application

# Web Server & Framework
Flask==3.0.3
gunicorn==22.0.0

# Image Processing & Machine Learning
opencv-python>=4.10.0.84
opencv-contrib-python>=4.10.0.84
Pillow>=10.0.0
tensorflow==2.20.0
numpy==1.26.4
python-dotenv==1.0.1

# Firebase/Google Cloud
firebase-admin==6.5.0
requests==2.32.3
werkzeug==3.0.3
Flask-Mail==0.9.1
